/*
 * ../html/brainfuck.html用
 */
header {
    background-color: orange;
    color: black;
}
#hardware {
    float: left;
    width: 25%;
}
#exec {
    float: left;
    width: 50%;
}
#make {
    float:right;
    width: 25%;
}
footer {
    background-color: #ffaba1;
    width: 100%;
    text-align: center;
    clear: both;
}
#dp:before {
	content: "データポインタ：";
}#ip:before {
	content: "インストラクションポインタ：";
 }
#output-text:before {
	content: "出力ストリーム："
}
#programs-form {
	width: 500px;
	height: 100px;
}
#display-programs:before {
    content: "読み込んだ命令：";
}
#display-programs ul li{
    margin: 0;
    padding: 0;
    display: block;
    float:left;
    list-style: none;
    width: 10px;
}
#memory-dump:before {
    content: "メモリダンプ：";
}
#memory-dump{
    clear: both;
}
#memory-dump ul li{
    margin: 0;
    padding: 0;
    display: block;
    float:left;
    list-style: none;
    width: 20px;
}

.current {
    background-color: #FC6;
}